@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .skill-rating {
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* margin-bottom: 3px; */
    }
    .skill-rating > span:nth-child(1) {
        font-size: 12px;
    }
}
